@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

#baylee {
  background-image: url(images/background.png);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#first {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#welcome {
  color: white;
  font-family: "Anton", sans-serif;
  padding: 1%;
}

#un {
  color: white;
}

#pw {
  color: white;
}

#eye {
  color: black;
}

#iga {
  color: white;
}

#divMayus {
  visibility: hidden;
  color: white;
}

#allign {
  text-align: center;
}

#oreo {
  user-select: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: "Anton", sans-serif;
}
